* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    margin: auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 2000px;
}
nav {
    background-color: #fff;
}
.header-nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    justify-content: center;
    gap: 750px;
}
.header-logo {
    display: flex;
    margin-left: 130px;
    gap: 10px;
}
.logo-header {
    border-right: 1px solid #ccc;
}
.logo-header {
    padding: 0 10px;
}

.logo-header a {
    display: block;
    position: relative;
    text-decoration: none;
}
/* doi mau img */
.logo-header a img:hover + img {
    display: block; 
    position: absolute;
    top: 0;
    left: 0; 
    opacity: 1; 
    transition: opacity 0.3s ease; 
}
.logo-header a img + img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.logo-header a:hover img + img {
    display: block;
    opacity: 1; 
}

.header-right {
    margin-right: 130px;
}

.header-right a {
    color: #333;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    position: relative;
}
.header-right a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    transition: width 0.3s;
    position: absolute;
    bottom: -10px;
    left: 0;
}
/* nav  */
.nav-menu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 12px;
    justify-content: center;
    gap: 45px;
}

.nav-menu .nav-center a {
    color: #333;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.nav-menu  .nav-center a:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transition: width 0.3s;
    position: absolute;
    bottom: -16px;
    left: 0;
}

/* nav right */
.nav-right{
    display: flex;
    align-items: center;
}
.text a{
    color: #333;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    position: relative; 
}
.nav-menu  .text a:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transition: width 0.3s;
    position: absolute;
    bottom: -16px;
    left: 0;
}

.logo-nav {
    margin-left: 140px;
}

.logo-nav img {
    width: 70px;
}
.nav-right {
    margin-right: 130px;
}
.icon-nav a{
    padding: 0 10px;
    color: #333;
}
.icon-nav a:hover{
    padding: 0 10px;
    color: #000;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;

}

/* Dropdown menu */
.dropdown-menu {
    width: 180px;
    height: 100px;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    bottom: -115px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
    display: block;
    margin: 10px 0; 
}

.dropdown-menu a:hover {
    text-decoration: underline;
    color: rgb(41, 126, 206);
}

/* slide show */
header{
    margin: 40px;
    background-color: #fff;
}
.slide-show{
    width: 1400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    box-shadow:-5px -5px 12px #ffffff,
    5px 5px 12px rgba(0,0,0,.16);
    margin: auto;
}
.btn{
    position: absolute;
    top: 50%;
    left: 1%;
    display: flex;
    width: 98%;
    justify-content: space-between;
    
}
.btn button{
    width: 50px;
    height: 50px;
    background-color: #fff5;
    color: white;
    border: none;
    font-weight: bold;
    font-family: monospace;
    border-radius: 50%;
}
.btn button:hover{
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
    font-family: monospace;
    border-radius: 50%;
}
.list-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    transition: 1.5s;
   
}
.item img{
    width: 1400px;
    height: 400px;
    object-fit: cover;
}
header{
    background-color: #fff;
}
.text-sukien{
    text-align: center;
    margin: 80px;
    
}
.box-sukien{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.box{
    background-color: #f5f5f5;
    color: #808080;
    text-align: center;
    height: 300px;
    
}
.box img{
    width: 400px;
    height: 250px;
}
.text-box {
    margin-top: 10px;
}
article{
    background-color: #f5f5f5;
    height: 2000px;
}

.content{
    width: 1230px;
    margin: auto;
}

.products .box{
    width: 400px;
    height: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
